@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
  --background-color: #daa933;
  --text-color: #000000;
  --font-family: 'Poppins', 'sans-serif';
  --btn-padding: .4em;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
 padding: 0;
}


.bg {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.nav--bar {
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
}

.nav--links {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

.nav--links a, 
.nav--link li{
  text-decoration: none;
  font-weight: bold;
  padding: var(--btn-padding);
}

.nav--links a:hover,
.check-out:hover,
.shop:hover {
  transform: scale(1.1);
  border: 1px solid white;
}

.check-out {
  border: 1px solid black;
  padding: var(--btn-padding);
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

/* About Page */

.about-us {
 position: absolute;
 top: 10em;
 left: 20em;
}

.linear-wipe {
  font-size: 8rem;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(218,169,51,1) 35%, rgba(0,212,255,1) 100%);
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
  background-size: 200% auto;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}



.shop {
  background-color: white;
  padding: 20px;
  font-size: 1.5em;
  cursor: pointer;
}

/* Card */

.page--title {
  text-align: center;
}

.card--list {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}

.card--list a {
  text-decoration: none;
}

.card {
  width: 20em;
  height: 30em;
 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  background-color: white;
  overflow: hidden;
  
}

.card:hover {
  
  border: 5px solid var(--background-color);
}

.item--title {
  text-align: center;
}

.card--img {
  width: 200px;
  height: 350px;
  object-fit: contain;
}

.card--star {
  height: 1rem;
}

/* Item Details */
.item--detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.detail--img {
  width: 50%;
  justify-self: center;
}

.detail--star {
  width: 1rem;
}

.item--info {
  display: flex;
  flex-direction: column;
}

.item--description {
  width: 100%;
}

.quantity {
  padding: 10px;
  border: 2px solid black;
  margin-left: 10px ;
}

.add-to-cart, .delete-from-cart {
  width: 50%;
  padding: 10px;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
}

.delete-from-cart:hover {
  background-color: red;
  color: white;
}
/* Modal */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, .5); */
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  overflow: hidden;
  z-index: 0;
  width: 60%;
  height: auto;
  background: rgba(255, 255, 255);
  /* color: --color; */
  padding: 1rem;
  border: 7px solid black;
}

.windowClose {
  float: right;
  cursor: pointer;
}

/* Cart Product */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

thead th:nth-child(2) {
  width: 40%;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr,
table tfoot {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th {
  text-align: center;
  text-transform: uppercase;
}

table th, 
table td {
  padding: .35em;
}

.cart-img {
  width: 100px;
}

table button {
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  padding: .5em;
}

table button:hover {
  background-color: red;
  color: white;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

/* Contact Us */
.contact {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}

/* Check Out */
table, th, td {
  border: 1px solid black;
  /* max-height: 20em; */
}

th {
  background-color: white;
  height: 100px;
}

